.msnger {
    cursor: pointer;
    position: fixed;
    bottom: 4%;
    right: 2%;
    height: 3rem;
    width: 3rem;
    padding: 10px;
    border-radius: 50%;
    background-color: #490b79;
    color: white;
    transition: all 500ms;
}
.msnger:hover {
    transform: scale(1.2);
}